In [2]:
import pandas as pd
import spacy 
import numpy as np

In [5]:
senti = pd.read_csv("sentiment_sentence.csv")
character = pd.read_csv("character_sentence.csv")

In [13]:
senti.shape # (4*5585)
character.shape # (14*5585)

(4, 5585)

In [18]:
senti.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,5574,5575,5576,5577,5578,5579,5580,5581,5582,5583
0,compound,0.8597,0.3818,0.0,0.0,-0.296,-0.0572,-0.6486,-0.2263,0.0,...,0.0,-0.0258,0.7992,0.743,0.128,0.9088,0.2755,-0.7376,-0.7684,0.9061
1,neg,0.0000,0.0000,0.0,0.0,0.423,0.1200,0.7260,0.1520,0.0,...,0.0,0.0790,0.0290,0.000,0.068,0.0000,0.0000,0.1000,0.1010,0.0000
2,neu,0.8470,0.8850,1.0,1.0,0.577,0.8800,0.2740,0.7590,1.0,...,1.0,0.8430,0.8640,0.636,0.850,0.5910,0.8390,0.8650,0.8570,0.7090
3,pos,0.1530,0.1150,0.0,0.0,0.000,0.0000,0.0000,0.0900,0.0,...,0.0,0.0770,0.1070,0.364,0.082,0.4090,0.1610,0.0350,0.0410,0.2910

In [38]:
darcy = character.iloc[0,:]

darcy[darcy == 1]

128     1
133     1
136     1
137     1
146     1
       ..
5565    1
5568    1
5575    1
5576    1
5583    1
Name: 0, Length: 398, dtype: object

  Unnamed: 0       0       1    2    3      4       5       6       7    8
0   compound  0.8597  0.3818  0.0  0.0 -0.296 -0.0572 -0.6486 -0.2263  0.0
1        neg  0.0000  0.0000  0.0  0.0  0.423  0.1200  0.7260  0.1520  0.0
2        neu  0.8470  0.8850  1.0  1.0  0.577  0.8800  0.2740  0.7590  1.0
3        pos  0.1530  0.1150  0.0  0.0  0.000  0.0000  0.0000  0.0900  0.0